@model MEDsys.ViewModels.AppointmentFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Appointments"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.ClientId)
        @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.Client, "Id", "FirstName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ClientId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeId)
        @Html.DropDownListFor(m => m.EmployeeId, new SelectList(Model.Employee , "Id", "FirstName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmployeeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceLineId)
        @Html.DropDownListFor(m => m.ServiceLineId, new SelectList(Model.ServiceLine, "Id", "Service"), "", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ServiceLineId)
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.StartTime)
        @Html.TextBoxFor(m => m.StartTime, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StartTime)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(m => m.EndTime, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EndTime)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


