@model IEnumerable<MEDsys.Models.Appointment>

@{
    ViewBag.Title = "Create an Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointments</h2>
<p>
    @Html.ActionLink("New Appointment", "New", "Appointments", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Client</th>
            <th>Employee</th>
            <th>Service</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Client.FirstName @appointment.Client.LastName</td>
                <td>@appointment.Employee.FirstName @appointment.Employee.LastName</td>
                <td>@appointment.ServiceLine.Service</td>
                <td>@appointment.StartTime</td>
                <td>@appointment.EndTime</td>
            </tr>
        }
    </tbody>
</table>
